<footer class="footer2 bg-img theme-overlay-blue-dark pt-5 pb-5" data-overlay-dark="7">    
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4 pe-5 mt-1-9 wow fadeIn" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeIn;">
                <img src="../assets/Images/logo-inner.png" class="mb-3" alt="...">
               <ul class="social-icon-style1 mb-3 d-inline-block list-unstyled">
                    <li class="d-inline-block me-2"><a href="#!"><i class="fa-brands fa-facebook fa-lg"></i></a></li>
                    <li class="d-inline-block me-2"><a href="#!"><i class="fa-brands fa-twitter"></i></a></li>
                    <li class="d-inline-block me-2"><a href="#!"><i class="fa-brands fa-youtube"></i></a></li>
                    <li class="d-inline-block"><a href="#!"><i class="fa-brands fa-linkedin"></i></a></li>
                </ul>
                <p style="color:#ffffff7a;font-size:13px;">© <span class="current-year">2023</span>&nbsp;Golden Orient Co.,Ltd. </p>
                
            </div>
            <div class="col-sm-6 col-lg-4 mt-1-9 wow fadeIn" data-wow-delay="350ms" style="visibility: visible; animation-delay: 350ms; animation-name: fadeIn;">
                <h3 class="text-white h5 mb-1-9">Head Office (Myanmar)</h3>
                   <p class="mb-0 text-white">  
                                   No. 112, Yadanar Theingi Street, Industrial Zone (7), Hlaing Tharyar Township, Yangon.
                                
                                   </p>
                            <p class="mb-0 text-white">95-1-528536, 645 220, 645 236</p>
                
            </div>
            
            
        </div>
    </div>

</footer>
