
<section class="page-title-section bg-img cover-background left-overlay-dark" data-overlay-dark="6"  style="background-image: url('../assets/Images/inner-banner.jpg');margin-top: 100px;">
    <div class="container">
        <div class="">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-white">Seawater Fishes</h1>
                </div>
                <div class="col-md-12">
                    <ul class="ps-0">
                        <li><a href="home" class="text-white">Home</a>
                        </li>
                        <li><a href="#!" class="text-white">Seawater Fishes </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-section py-5">
    <div class="container mt-lg-3 mt-xl-0">
        <div class="row clearfix align-items-xl-center">
            <div class="col-lg-6 text-column mb-2-9 mb-lg-0 wow fadeIn" data-wow-delay="200ms">
                <div class="pe-xl-2-9">
                    <span class="elementor-icon-list-icon" style="margin-top: -2px;">
                    <svg viewBox="0 0 17.999999 8" height="8" width="18"><defs></defs><metadata></metadata>
                    <g transform="translate(0,-1044.3622)">
<path d="m 0.61304819,1044.7306 0,0.5197 4.86270361,2.6532 -4.86270361,2.5972 0,0.5177 5.34220041,-2.8538 5.4331094,2.9635 6.095313,-3.2362 -6.095313,-3.1471 -5.4295443,2.9011 -5.34576551,-2.9153 z m 10.77887381,0.5294 5.108691,2.6373 -5.108691,2.712 -4.9536115,-2.7022 4.9536115,-2.6471 z" 
style="color:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;
letter-spacing:normal;word-spacing:normal;text-transform:none;direction:ltr;writing-mode:lr-tb;text-anchor:start;white-space:normal;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;
color-interpolation-filters:linearRGB;fill:#ef4746;fill-opacity:1;fill-rule:evenodd;stroke:#ef4746;stroke-width:0.46862841;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;"></path></g></svg>	

                    </span><span class="text-red mb-2 d-block text-uppercase" style="font-size:14px;font-weight:600;padding-top:2px;">Company Profile</span>
                    <h2 class="mb-1-6">About GOC</h2>
                    <p class="pb-3 text-justify">
                        GOC is a leading exporter of seafood products to Thailand. Recently, we have expanded our market to Korea, Japan, Singapore, 
                        Malaysia and Hong Kong. We offer a wide selection of premium seafood including fresh water prawns, crabs, pomfrets and various fishes.
                        </p>
                    <p class="pb-3 text-justify">
                        With over 15 years of experiences in the industry, we source, process and deliver with strict measurements to meet the international 
                        requirements for exporting seafood. We prioritize freshness and hygiene and guarantee the quality of our products. With these operating
                        factors, we have already established a good image as reliable supplier in Thai market.
                    </p>
                    <p class="pb-3 text-justify">
                        We keep our reputation by consistently offering a variety of higher quality seafood at reasonable prices. Our products are tailored to
                        satisfy customers' needs and are available for shipment around the world. Please feel free to contact us if you would like to receive more
                        information about how Golden Orient can assist you with your requirement.
                    </p>
                </div>
            </div>

            <div class="col-lg-6 position-relative wow fadeIn" data-wow-delay="400ms">
                <div class="row align-items-center ps-lg-1-9 position-relative z-index-9 py-5">
                    <div class="col-sm-7 d-none d-sm-block">
                        <img src="../assets/Images/about-04.jpg" class="rounded" alt="...">
                    </div>
                    <div class="col-sm-5 text-center text-sm-start">
                        <img src="../assets/Images/about-03.jpg" class="rounded" alt="...">
                        <div class="text-center mt-4">
                            <a href="#!" class="text-dark text-primary-hover font-weight-600 text-decoration-none">View All Products<i class="ti-arrow-right ms-2 align-middle display-30"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <div class="bg-img bg-stripes right-25 top-15 ani-left-right d-none d-xl-block" data-background="img/content/bg-stripes.png"></div>
    <a class="scroll-to-top" style="display: inline;" *ngIf="isShow" (click)="gotoTop()">
        <i class="fa-solid fa-angle-up"></i>
        </a>
    
</section>