<div class="men-area">
  <nav class="navbar navbar-expand-lg fixed-top navbar-shrink" id="mainNav" style="z-index: 1000;">
    <div class="navbar-default"></div>
    <div class="container">
      <a class="navbar-brand" href="#page-top">
        <img id="logo" src="assets/Images/logo-inner.png" class="img-fluid" alt="logo">
      </a>
      <button class="navbar-toggler menu-opened" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"(click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span> 
      </button> 
      <div class="collapse navbar-collapse" id="navbarNavDropdown" style="display:block;">
          <ul class="navbar-nav ms-auto open text-uppercase ms-auto py-4 py-lg-0">
              <li class="nav-item active" [routerLinkActive]="'active'" routerLinkActive="{true}"><a class="nav-link" routerLink="/home">HOME</a></li>
              <li class="nav-item" [routerLinkActive]="'active'"><a class="nav-link" routerLink="/shwe-ginga">SHWE GINGA</a></li>
              <li class="nav-item " [routerLinkActive]="'active'">
                <a class="dropdown nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
                  Our Products
                </a>
                <ul class="dropdown-menu sub-menu">
                  <li class="dropdown-item" [routerLinkActive]="'active'" routerLink="/SeawaterFishes">Seawater Fishes</li>
                  <li class="dropdown-item" [routerLinkActive]="'active'" routerLink="/fishwaterfishes">Fish water Fishes</li>
                  <li class="dropdown-item" [routerLinkActive]="'active'" routerLink="/crabexports">Crab Excd ports</li>
                  <li class="dropdown-item" [routerLinkActive]="'active'" routerLink="/prawns">Prawns Exports</li>
                  <li class="dropdown-item" [routerLinkActive]="'active'" routerLink="/OtherSeafood">Our Other Seafood Exports</li>
                </ul>
              </li> 
              <li class="nav-item" [routerLinkActive]="'active'"><a class="nav-link" routerLink="/about">ABOUT GOC</a></li>
              <li class="nav-item" [routerLinkActive]="'active'"><a class="nav-link" routerLink="/contact">CONTACT</a></li>
          </ul>
      </div>
      </div>
</nav>
</div>


<!-- <nav class="navbar">
  <div class="logo">
    <img id="logo" src="assets/Images/logo-inner.png" class="img-fluid" alt="logo">
  </div>
  <ul class="nav-links">
      <li class="nav-item active" routerLink="/home" ><a class="nav-link">HOME</a></li>
      <li class="nav-item" ><a class="nav-link" href="#shweginga">SHWE GINGA</a></li>
  <input type="checkbox" id="checkbox_toggle" />
  <label for="checkbox_toggle" class="hamburger">&#9776;</label>
  <div class="menu">
  <li class="services">
  <a href="/">Our Products</a>
  <ul class="dropdown">
    <a class="dropdown-item active" routerLink="/SeawaterFishes">Seawater Fishes</a>
    <a class="dropdown-item active" routerLink="/fishwaterfishes">Fish water Fishes</a>
    <a class="dropdown-item active" routerLink="/crabexports">Crab Exports</a>
    <a class="dropdown-item active" routerLink="/prawns">Prawns Exports</a>
    <a class="dropdown-item active" routerLink="/OtherSeafood">Our Other Seafood Exports</a>
  </ul>
  </li>
  <li><a href="/">Pricing</a></li>
  <li><a href="/">Contact</a></li>
  </div>
  </ul>
  </nav> -->



  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </buton.
  
    <div class="collapse navbar-collapse" id="navbarColor03" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav> -->
<router-outlet></router-outlet>

<app-footer></app-footer>