
<section class="page-title-section bg-img cover-background left-overlay-dark" data-overlay-dark="6"  style="background-image: url('../assets/Images/inner-banner.jpg');margin-top: 100px;">
    <div class="container">
        <div class="">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-white">Seawater Fishes</h1>
                </div>
                <div class="col-md-12">
                    <ul class="ps-0">
                        <li><a href="home" class="text-white">Home</a>
                        </li>
                        <li><a href="#!" class="text-white">Seawater Fishes </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<app-fish></app-fish>
<!-- <app-footer></app-footer> -->
<a class="scroll-to-top" style="display: inline;" *ngIf="isShow" (click)="gotoTop()">
    <i class="fa-solid fa-angle-up"></i>
</a>
