
 
.active-color :hover , .active-color:active{
    background-color: #c38e44;
}
.blog3 .blog-box {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.08);
    padding: 3rem 0;
    margin: 1px 1px 1px 50px;
    align-items: center;
    border-radius: 0.25rem;
}
.blog3 .blog-img {
    margin-left: -50px;
}
.blog-img img {
    box-shadow: 0px 3px 10px 0px rgb(41 45 194 / 8%);
}
.left-overlay-dark[data-overlay-dark]:before {
    background: #1e1e1e26;
}
.image-column {
    position: relative;
    margin-bottom: 40px;
}
.image-column .image img {
    position: relative;
    width: 100%;
    display: block;
}
.image-column .inner-column {
    position: relative;
    padding: 30px 0px 30px 30px;
}
.inner-column:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 360px;
    bottom: 0px;
    border: 1px dashed rgb(215 183 82);
}
img {
    max-width: 100%;
    vertical-align: top;
}
about-title p {
    letter-spacing: unset;
}

.about-title p {
    text-align: justify;
    line-height: 2em;
    letter-spacing: 1px;
}
.pb-6, .py-6 {
    padding-bottom: 3.5rem;
}
.pt-6, .py-6 {
    padding-top: 3.5rem;
}
.mb-2-6, .my-2-6 {
    margin-bottom: 2.6rem;
}
.text-primary {
    color: #c38e44 !important;
}
.cover-background {
    position: relative !important;
    background-size: cover !important;
    overflow: hidden !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.image {
    position: relative;
    z-index: 1;
}
.mmfont {
    font-family: "Pyidaungsu", Open Sans !important;
}
.elementor-icon-list-icon {
    float: left;
    padding-right: 15px;
}
.text-kurky {
    color: #c38e44 !important;
}
section {
    padding: 50px 0;
}

.whychooseus3-carousel * {
    height: 100%;
}
.title-style1 {
    position: relative;
    margin-bottom: 35px;
}
.bg-primary-gradient{
    background: linear-gradient(to bottom, #e0bf58, #bf9620) !important;
}
.blog3 .blog-box .blog-text {
    padding: 0 2rem;
}
.btn-indicator{
    width: 20px;
    height: 5px;
}

.btn-indicator-hover:hover{
    background-color: #c38e44;
}
    
    .btn-indicator-hover:active{
            width: 35px;
            height: 5px;
            background-color: #c38e44;
    }

/* // .btn-indicator-hover{
//     width: 35px;
//     height: 5px;
// }
// .btn-indicator :hover{
//     background-color: #c38e44;
// }
// .btn-indicator :active {
//     width: 35px;
//     height: 5px;
//     background-color: #c38e44;
// } */

.btn-circle {
    width: 10px !important;
    height: 10px !important;
    background-color: #ffffff ;
}
.btn-circle :hover {
   background-color: palegreen;
}
.scroll-to-top {
    background: linear-gradient(to right, #eb3349, #f45c43);
}

.scroll-to-top {
    font-size: 20px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border-radius: 50%;
    background: #c38e44 !important;;
    border: 1px solid  #c38e44 ;
    width: 35px;
    height: 35px;
    line-height: 30px;
    z-index: 9999;
    outline: 0;
}
.scroll-to-top i {
    color: #fff;
}
.scroll-to-top:hover{
    background-color: #FFF;
    color :#000;
    border:1px solid #FFF;
}
